<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="uploadUrl" value="https://ledel.ru/upload/wallpapers"/>
    <add key="fileExt" value="jpg"/>
    <!--screen mapping-->
    <add key="320x240" value="4-3"/>
    <add key="640x480" value="4-3"/>
    <add key="800x600" value="4-3"/>
    <add key="1024x768" value="4-3"/>
    <add key="1152x864" value="4-3"/>
    <add key="1400x1050" value="4-3"/>
    <add key="1440x1080" value="4-3"/>
    <add key="1600x1200" value="4-3"/>
    <add key="2048x1536" value="4-3"/>
    <add key="3200x2400" value="4-3"/>
    <add key="6400x4800" value="4-3"/>
    
    <add key="1280x800" value="16-10"/>
    <add key="1440x900" value="16-10"/>
    <add key="1536x960" value="16-10"/>
    <add key="1680x1050" value="16-10"/>
    <add key="1920x1200" value="16-10"/>
    <add key="2560x1600" value="16-10"/>
    <add key="3840x2400" value="16-10"/>
    <add key="7680x4800" value="16-10"/>
    
    <add key="640x360" value="16-9"/>
    <add key="854x480" value="16-9"/>
    <add key="960x540" value="16-9"/>
    <add key="1280x720" value="16-9"/>
    <add key="1600x900" value="16-9"/>
    <add key="1920x1080" value="16-9"/>
    <add key="2048x1152" value="16-9"/>
    <add key="2560x1440" value="16-9"/>
    <add key="3200x1800" value="16-9"/>
    <add key="3840x2160" value="16-9"/>
    <add key="5120x2880" value="16-9"/>
    <add key="7680x4320" value="16-9"/>
    
    <add key="400x240" value="5-3"/>
    <add key="800x480" value="5-3"/>
    <add key="1280x768" value="5-3"/>
    
    <add key="1408x1152" value="5-4"/>
    <add key="2560x2048" value="5-4"/>
    <add key="5120x4096" value="5-4"/>
    
    <add key="1536x1024" value="3-2"/>
  </appSettings>
</configuration>
